{%- assign lang = include.lang | default: page.lang | default: site.i18n.default_lang | default: site.lang | default: "en" -%}
{%- assign platform_title = site.platform.name | default: site.title -%}
{%- capture cart_tip_label -%}{% include t.html key="runtime.cart.tip_label" lang=lang platform=platform_title %}{%- endcapture -%}
{%- capture cart_tip_copy -%}{% include t.html key="runtime.cart.tip_copy" lang=lang platform=platform_title %}{%- endcapture -%}
{%- capture manage_tip_heading -%}{% include t.html key="runtime.manage.tip_heading" lang=lang platform=platform_title %}{%- endcapture -%}
{%- capture manage_tip_copy -%}{% include t.html key="runtime.manage.tip_copy" lang=lang %}{%- endcapture -%}
{
  "cart": {
    "untitledItem": {{ site.data.i18n[lang].runtime.cart.untitled_item | default: site.data.i18n.en.runtime.cart.untitled_item | jsonify }},
    "quantity": {{ site.data.i18n[lang].runtime.cart.quantity | default: site.data.i18n.en.runtime.cart.quantity | jsonify }},
    "remove": {{ site.data.i18n[lang].runtime.cart.remove | default: site.data.i18n.en.runtime.cart.remove | jsonify }},
    "empty": {{ site.data.i18n[lang].runtime.cart.empty | default: site.data.i18n.en.runtime.cart.empty | jsonify }},
    "contact": {{ site.data.i18n[lang].runtime.cart.contact | default: site.data.i18n.en.runtime.cart.contact | jsonify }},
    "emailAddress": {{ site.data.i18n[lang].runtime.cart.email_address | default: site.data.i18n.en.runtime.cart.email_address | jsonify }},
    "shippingAddress": {{ site.data.i18n[lang].runtime.cart.shipping_address | default: site.data.i18n.en.runtime.cart.shipping_address | jsonify }},
    "fullName": {{ site.data.i18n[lang].runtime.cart.full_name | default: site.data.i18n.en.runtime.cart.full_name | jsonify }},
    "addressLine1": {{ site.data.i18n[lang].runtime.cart.address_line_1 | default: site.data.i18n.en.runtime.cart.address_line_1 | jsonify }},
    "addressLine2": {{ site.data.i18n[lang].runtime.cart.address_line_2 | default: site.data.i18n.en.runtime.cart.address_line_2 | jsonify }},
    "city": {{ site.data.i18n[lang].runtime.cart.city | default: site.data.i18n.en.runtime.cart.city | jsonify }},
    "stateProvince": {{ site.data.i18n[lang].runtime.cart.state_province | default: site.data.i18n.en.runtime.cart.state_province | jsonify }},
    "postalCode": {{ site.data.i18n[lang].runtime.cart.postal_code | default: site.data.i18n.en.runtime.cart.postal_code | jsonify }},
    "country": {{ site.data.i18n[lang].runtime.cart.country | default: site.data.i18n.en.runtime.cart.country | jsonify }},
    "paymentMethod": {{ site.data.i18n[lang].runtime.cart.payment_method | default: site.data.i18n.en.runtime.cart.payment_method | jsonify }},
    "paymentConsent": {{ site.data.i18n[lang].runtime.cart.payment_consent | default: site.data.i18n.en.runtime.cart.payment_consent | jsonify }},
    "estimatedTotal": {{ site.data.i18n[lang].runtime.cart.estimated_total | default: site.data.i18n.en.runtime.cart.estimated_total | jsonify }},
    "tipLabel": {{ cart_tip_label | strip | jsonify }},
    "tipCopy": {{ cart_tip_copy | strip | jsonify }},
    "tipWithPercent": {{ site.data.i18n[lang].runtime.cart.tip_with_percent | default: site.data.i18n.en.runtime.cart.tip_with_percent | jsonify }},
    "pledgeTotal": {{ site.data.i18n[lang].runtime.cart.pledge_total | default: site.data.i18n.en.runtime.cart.pledge_total | jsonify }},
    "subtotal": {{ site.data.i18n[lang].runtime.cart.subtotal | default: site.data.i18n.en.runtime.cart.subtotal | jsonify }},
    "salesTaxLabel": {{ site.data.i18n[lang].runtime.cart.sales_tax_label | default: site.data.i18n.en.runtime.cart.sales_tax_label | jsonify }},
    "shipping": {{ site.data.i18n[lang].runtime.cart.shipping | default: site.data.i18n.en.runtime.cart.shipping | jsonify }},
    "shippingEstimate": {{ site.data.i18n[lang].runtime.cart.shipping_estimate | default: site.data.i18n.en.runtime.cart.shipping_estimate | jsonify }},
    "shippingCalculating": {{ site.data.i18n[lang].runtime.cart.shipping_calculating | default: site.data.i18n.en.runtime.cart.shipping_calculating | jsonify }},
    "shippingOption": {{ site.data.i18n[lang].runtime.cart.shipping_option | default: site.data.i18n.en.runtime.cart.shipping_option | jsonify }},
    "shippingOptionStandard": {{ site.data.i18n[lang].runtime.cart.shipping_option_standard | default: site.data.i18n.en.runtime.cart.shipping_option_standard | jsonify }},
    "shippingOptionSignatureRequired": {{ site.data.i18n[lang].runtime.cart.shipping_option_signature_required | default: site.data.i18n.en.runtime.cart.shipping_option_signature_required | jsonify }},
    "shippingOptionAdultSignatureRequired": {{ site.data.i18n[lang].runtime.cart.shipping_option_adult_signature_required | default: site.data.i18n.en.runtime.cart.shipping_option_adult_signature_required | jsonify }},
    "pledgeSummary": {{ site.data.i18n[lang].runtime.cart.pledge_summary | default: site.data.i18n.en.runtime.cart.pledge_summary | jsonify }},
    "backToCart": {{ site.data.i18n[lang].runtime.cart.back_to_cart | default: site.data.i18n.en.runtime.cart.back_to_cart | jsonify }},
    "keepBrowsing": {{ site.data.i18n[lang].runtime.cart.keep_browsing | default: site.data.i18n.en.runtime.cart.keep_browsing | jsonify }},
    "checkout": {{ site.data.i18n[lang].runtime.cart.checkout | default: site.data.i18n.en.runtime.cart.checkout | jsonify }},
    "savePaymentMethod": {{ site.data.i18n[lang].runtime.cart.save_payment_method | default: site.data.i18n.en.runtime.cart.save_payment_method | jsonify }},
    "savingPaymentMethod": {{ site.data.i18n[lang].runtime.cart.saving_payment_method | default: site.data.i18n.en.runtime.cart.saving_payment_method | jsonify }},
    "finishingPledge": {{ site.data.i18n[lang].runtime.cart.finishing_pledge | default: site.data.i18n.en.runtime.cart.finishing_pledge | jsonify }},
    "loadingSecurePayment": {{ site.data.i18n[lang].runtime.cart.loading_secure_payment | default: site.data.i18n.en.runtime.cart.loading_secure_payment | jsonify }},
    "startingPledge": {{ site.data.i18n[lang].runtime.cart.starting_pledge | default: site.data.i18n.en.runtime.cart.starting_pledge | jsonify }},
    "continueToPledge": {{ site.data.i18n[lang].runtime.cart.continue_to_pledge | default: site.data.i18n.en.runtime.cart.continue_to_pledge | jsonify }},
    "paymentProcessingStill": {{ site.data.i18n[lang].runtime.cart.payment_processing_still | default: site.data.i18n.en.runtime.cart.payment_processing_still | jsonify }},
    "savePaymentError": {{ site.data.i18n[lang].runtime.cart.save_payment_error | default: site.data.i18n.en.runtime.cart.save_payment_error | jsonify }},
    "secureCheckoutNotReady": {{ site.data.i18n[lang].runtime.cart.secure_checkout_not_ready | default: site.data.i18n.en.runtime.cart.secure_checkout_not_ready | jsonify }},
    "secureCheckoutMountError": {{ site.data.i18n[lang].runtime.cart.secure_checkout_mount_error | default: site.data.i18n.en.runtime.cart.secure_checkout_mount_error | jsonify }},
    "firstPartyDisabled": {{ site.data.i18n[lang].runtime.cart.first_party_disabled | default: site.data.i18n.en.runtime.cart.first_party_disabled | jsonify }},
    "startPledgeError": {{ site.data.i18n[lang].runtime.cart.start_pledge_error | default: site.data.i18n.en.runtime.cart.start_pledge_error | jsonify }},
    "emailRequired": {{ site.data.i18n[lang].runtime.cart.email_required | default: site.data.i18n.en.runtime.cart.email_required | jsonify }},
    "emailInvalid": {{ site.data.i18n[lang].runtime.cart.email_invalid | default: site.data.i18n.en.runtime.cart.email_invalid | jsonify }},
    "shippingAddressRequired": {{ site.data.i18n[lang].runtime.cart.shipping_address_required | default: site.data.i18n.en.runtime.cart.shipping_address_required | jsonify }},
    "closeCart": {{ site.data.i18n[lang].runtime.cart.close_cart | default: site.data.i18n.en.runtime.cart.close_cart | jsonify }},
    "yourCart": {{ site.data.i18n[lang].runtime.cart.your_cart | default: site.data.i18n.en.runtime.cart.your_cart | jsonify }},
    "checkoutTitle": {{ site.data.i18n[lang].runtime.cart.checkout_title | default: site.data.i18n.en.runtime.cart.checkout_title | jsonify }}
  },
  "community": {
    "selectOptionFirst": {{ site.data.i18n[lang].runtime.community.select_option_first | default: site.data.i18n.en.runtime.community.select_option_first | jsonify }},
    "submittingVote": {{ site.data.i18n[lang].runtime.community.submitting_vote | default: site.data.i18n.en.runtime.community.submitting_vote | jsonify }},
    "submitVote": {{ site.data.i18n[lang].runtime.community.submit_vote | default: site.data.i18n.en.runtime.community.submit_vote | jsonify }},
    "alreadyVotedFor": {{ site.data.i18n[lang].runtime.community.already_voted_for | default: site.data.i18n.en.runtime.community.already_voted_for | jsonify }},
    "voteSubmittedFor": {{ site.data.i18n[lang].runtime.community.vote_submitted_for | default: site.data.i18n.en.runtime.community.vote_submitted_for | jsonify }},
    "failedToSubmitVote": {{ site.data.i18n[lang].runtime.community.failed_to_submit_vote | default: site.data.i18n.en.runtime.community.failed_to_submit_vote | jsonify }},
    "voteSingular": {{ site.data.i18n[lang].runtime.community.vote_singular | default: site.data.i18n.en.runtime.community.vote_singular | jsonify }},
    "votePlural": {{ site.data.i18n[lang].runtime.community.vote_plural | default: site.data.i18n.en.runtime.community.vote_plural | jsonify }},
    "totalVotes": {{ site.data.i18n[lang].runtime.community.total_votes | default: site.data.i18n.en.runtime.community.total_votes | jsonify }}
  },
  "campaign": {
    "imageGallery": {{ site.data.i18n[lang].runtime.campaign.image_gallery | default: site.data.i18n.en.runtime.campaign.image_gallery | jsonify }},
    "countdownLive": {{ site.data.i18n[lang].runtime.campaign.countdown_live | default: site.data.i18n.en.runtime.campaign.countdown_live | jsonify }},
    "countdownFunded": {{ site.data.i18n[lang].runtime.campaign.countdown_funded | default: site.data.i18n.en.runtime.campaign.countdown_funded | jsonify }},
    "countdownEnded": {{ site.data.i18n[lang].runtime.campaign.countdown_ended | default: site.data.i18n.en.runtime.campaign.countdown_ended | jsonify }}
  },
  "liveStats": {
    "projectFunded": {{ site.data.i18n[lang].runtime.live_stats.project_funded | default: site.data.i18n.en.runtime.live_stats.project_funded | jsonify }},
    "support": {{ site.data.i18n[lang].runtime.live_stats.support | default: site.data.i18n.en.runtime.live_stats.support | jsonify }},
    "funded": {{ site.data.i18n[lang].runtime.live_stats.funded | default: site.data.i18n.en.runtime.live_stats.funded | jsonify }},
    "soldOut": {{ site.data.i18n[lang].runtime.live_stats.sold_out | default: site.data.i18n.en.runtime.live_stats.sold_out | jsonify }},
    "pledgeAmount": {{ site.data.i18n[lang].runtime.live_stats.pledge_amount | default: site.data.i18n.en.runtime.live_stats.pledge_amount | jsonify }}
  },
  "manage": {
    "savingPaymentMethod": {{ site.data.i18n[lang].runtime.manage.saving_payment_method | default: site.data.i18n.en.runtime.manage.saving_payment_method | jsonify }},
    "saved": {{ site.data.i18n[lang].runtime.manage.saved | default: site.data.i18n.en.runtime.manage.saved | jsonify }},
    "emailRequired": {{ site.data.i18n[lang].runtime.manage.email_required | default: site.data.i18n.en.runtime.manage.email_required | jsonify }},
    "emailValidationFailed": {{ site.data.i18n[lang].runtime.manage.email_validation_failed | default: site.data.i18n.en.runtime.manage.email_validation_failed | jsonify }},
    "stripeSaveError": {{ site.data.i18n[lang].runtime.manage.stripe_save_error | default: site.data.i18n.en.runtime.manage.stripe_save_error | jsonify }},
    "paymentUpdateError": {{ site.data.i18n[lang].runtime.manage.payment_update_error | default: site.data.i18n.en.runtime.manage.payment_update_error | jsonify }},
    "noActivePledges": {{ site.data.i18n[lang].runtime.manage.no_active_pledges | default: site.data.i18n.en.runtime.manage.no_active_pledges | jsonify }},
    "noPledgeTokenProvided": {{ site.data.i18n[lang].runtime.manage.no_pledge_token_provided | default: site.data.i18n.en.runtime.manage.no_pledge_token_provided | jsonify }},
    "failedToLoadPledges": {{ site.data.i18n[lang].runtime.manage.failed_to_load_pledges | default: site.data.i18n.en.runtime.manage.failed_to_load_pledges | jsonify }},
    "sectionActive": {{ site.data.i18n[lang].runtime.manage.section_active | default: site.data.i18n.en.runtime.manage.section_active | jsonify }},
    "sectionClosed": {{ site.data.i18n[lang].runtime.manage.section_closed | default: site.data.i18n.en.runtime.manage.section_closed | jsonify }},
    "statusActive": {{ site.data.i18n[lang].runtime.manage.status_active | default: site.data.i18n.en.runtime.manage.status_active | jsonify }},
    "statusLocked": {{ site.data.i18n[lang].runtime.manage.status_locked | default: site.data.i18n.en.runtime.manage.status_locked | jsonify }},
    "statusCharged": {{ site.data.i18n[lang].runtime.manage.status_charged | default: site.data.i18n.en.runtime.manage.status_charged | jsonify }},
    "statusCancelled": {{ site.data.i18n[lang].runtime.manage.status_cancelled | default: site.data.i18n.en.runtime.manage.status_cancelled | jsonify }},
    "statusPaymentFailed": {{ site.data.i18n[lang].runtime.manage.status_payment_failed | default: site.data.i18n.en.runtime.manage.status_payment_failed | jsonify }},
    "startsIn": {{ site.data.i18n[lang].runtime.manage.starts_in | default: site.data.i18n.en.runtime.manage.starts_in | jsonify }},
    "endsIn": {{ site.data.i18n[lang].runtime.manage.ends_in | default: site.data.i18n.en.runtime.manage.ends_in | jsonify }},
    "campaignLive": {{ site.data.i18n[lang].runtime.manage.campaign_live | default: site.data.i18n.en.runtime.manage.campaign_live | jsonify }},
    "ended": {{ site.data.i18n[lang].runtime.manage.ended | default: site.data.i18n.en.runtime.manage.ended | jsonify }},
    "selectYourTier": {{ site.data.i18n[lang].runtime.manage.select_your_tier | default: site.data.i18n.en.runtime.manage.select_your_tier | jsonify }},
    "addMoreTiers": {{ site.data.i18n[lang].runtime.manage.add_more_tiers | default: site.data.i18n.en.runtime.manage.add_more_tiers | jsonify }},
    "soldOut": {{ site.data.i18n[lang].runtime.manage.sold_out | default: site.data.i18n.en.runtime.manage.sold_out | jsonify }},
    "pledged": {{ site.data.i18n[lang].runtime.manage.pledged | default: site.data.i18n.en.runtime.manage.pledged | jsonify }},
    "supportPhase": {{ site.data.i18n[lang].runtime.manage.support_phase | default: site.data.i18n.en.runtime.manage.support_phase | jsonify }},
    "supportAtYourDiscretion": {{ site.data.i18n[lang].runtime.manage.support_at_your_discretion | default: site.data.i18n.en.runtime.manage.support_at_your_discretion | jsonify }},
    "customSupportDescription": {{ site.data.i18n[lang].runtime.manage.custom_support_description | default: site.data.i18n.en.runtime.manage.custom_support_description | jsonify }},
    "tipHeading": {{ manage_tip_heading | strip | jsonify }},
    "tipCopy": {{ manage_tip_copy | strip | jsonify }},
    "updateCard": {{ site.data.i18n[lang].runtime.manage.update_card | default: site.data.i18n.en.runtime.manage.update_card | jsonify }},
    "updatePaymentMethod": {{ site.data.i18n[lang].runtime.manage.update_payment_method | default: site.data.i18n.en.runtime.manage.update_payment_method | jsonify }},
    "cancelPledge": {{ site.data.i18n[lang].runtime.manage.cancel_pledge | default: site.data.i18n.en.runtime.manage.cancel_pledge | jsonify }},
    "noChanges": {{ site.data.i18n[lang].runtime.manage.no_changes | default: site.data.i18n.en.runtime.manage.no_changes | jsonify }},
    "saveChanges": {{ site.data.i18n[lang].runtime.manage.save_changes | default: site.data.i18n.en.runtime.manage.save_changes | jsonify }},
    "cancelling": {{ site.data.i18n[lang].runtime.manage.cancelling | default: site.data.i18n.en.runtime.manage.cancelling | jsonify }},
    "keepPledge": {{ site.data.i18n[lang].runtime.manage.keep_pledge | default: site.data.i18n.en.runtime.manage.keep_pledge | jsonify }},
    "confirmCancellation": {{ site.data.i18n[lang].runtime.manage.confirm_cancellation | default: site.data.i18n.en.runtime.manage.confirm_cancellation | jsonify }},
    "deadlinePassedNotice": {{ site.data.i18n[lang].runtime.manage.deadline_passed_notice | default: site.data.i18n.en.runtime.manage.deadline_passed_notice | jsonify }},
    "pledgeNotice": {{ site.data.i18n[lang].runtime.manage.pledge_notice | default: site.data.i18n.en.runtime.manage.pledge_notice | jsonify }},
    "cancelTitle": {{ site.data.i18n[lang].runtime.manage.cancel_title | default: site.data.i18n.en.runtime.manage.cancel_title | jsonify }},
    "cancelBody": {{ site.data.i18n[lang].runtime.manage.cancel_body | default: site.data.i18n.en.runtime.manage.cancel_body | jsonify }},
    "chargedSuccess": {{ site.data.i18n[lang].runtime.manage.charged_success | default: site.data.i18n.en.runtime.manage.charged_success | jsonify }},
    "chargedOn": {{ site.data.i18n[lang].runtime.manage.charged_on | default: site.data.i18n.en.runtime.manage.charged_on | jsonify }},
    "chargedThanks": {{ site.data.i18n[lang].runtime.manage.charged_thanks | default: site.data.i18n.en.runtime.manage.charged_thanks | jsonify }},
    "paymentFailedNotice": {{ site.data.i18n[lang].runtime.manage.payment_failed_notice | default: site.data.i18n.en.runtime.manage.payment_failed_notice | jsonify }},
    "pledgeCancelledNotice": {{ site.data.i18n[lang].runtime.manage.pledge_cancelled_notice | default: site.data.i18n.en.runtime.manage.pledge_cancelled_notice | jsonify }},
    "subtotal": {{ site.data.i18n[lang].runtime.manage.subtotal | default: site.data.i18n.en.runtime.manage.subtotal | jsonify }},
    "shipping": {{ site.data.i18n[lang].runtime.manage.shipping | default: site.data.i18n.en.runtime.manage.shipping | jsonify }},
    "shippingOption": {{ site.data.i18n[lang].runtime.manage.shipping_option | default: site.data.i18n.en.runtime.manage.shipping_option | jsonify }},
    "shippingOptionStandard": {{ site.data.i18n[lang].runtime.manage.shipping_option_standard | default: site.data.i18n.en.runtime.manage.shipping_option_standard | jsonify }},
    "shippingOptionSignatureRequired": {{ site.data.i18n[lang].runtime.manage.shipping_option_signature_required | default: site.data.i18n.en.runtime.manage.shipping_option_signature_required | jsonify }},
    "shippingOptionAdultSignatureRequired": {{ site.data.i18n[lang].runtime.manage.shipping_option_adult_signature_required | default: site.data.i18n.en.runtime.manage.shipping_option_adult_signature_required | jsonify }},
    "total": {{ site.data.i18n[lang].runtime.manage.total | default: site.data.i18n.en.runtime.manage.total | jsonify }},
    "updatingPledge": {{ site.data.i18n[lang].runtime.manage.updating_pledge | default: site.data.i18n.en.runtime.manage.updating_pledge | jsonify }},
    "updatingFrom": {{ site.data.i18n[lang].runtime.manage.updating_from | default: site.data.i18n.en.runtime.manage.updating_from | jsonify }},
    "updatingTo": {{ site.data.i18n[lang].runtime.manage.updating_to | default: site.data.i18n.en.runtime.manage.updating_to | jsonify }},
    "updatedTiers": {{ site.data.i18n[lang].runtime.manage.updated_tiers | default: site.data.i18n.en.runtime.manage.updated_tiers | jsonify }},
    "allTiersRemoved": {{ site.data.i18n[lang].runtime.manage.all_tiers_removed | default: site.data.i18n.en.runtime.manage.all_tiers_removed | jsonify }},
    "supportItemChanges": {{ site.data.i18n[lang].runtime.manage.support_item_changes | default: site.data.i18n.en.runtime.manage.support_item_changes | jsonify }},
    "customSupport": {{ site.data.i18n[lang].runtime.manage.custom_support | default: site.data.i18n.en.runtime.manage.custom_support | jsonify }},
    "confirmUpdatePledge": {{ site.data.i18n[lang].runtime.manage.confirm_update_pledge | default: site.data.i18n.en.runtime.manage.confirm_update_pledge | jsonify }},
    "saving": {{ site.data.i18n[lang].runtime.manage.saving | default: site.data.i18n.en.runtime.manage.saving | jsonify }},
    "failedToUpdatePledge": {{ site.data.i18n[lang].runtime.manage.failed_to_update_pledge | default: site.data.i18n.en.runtime.manage.failed_to_update_pledge | jsonify }},
    "failedToUpdateLinkedTip": {{ site.data.i18n[lang].runtime.manage.failed_to_update_linked_tip | default: site.data.i18n.en.runtime.manage.failed_to_update_linked_tip | jsonify }},
    "failedToRemoveTiers": {{ site.data.i18n[lang].runtime.manage.failed_to_remove_tiers | default: site.data.i18n.en.runtime.manage.failed_to_remove_tiers | jsonify }},
    "increase": {{ site.data.i18n[lang].runtime.manage.increase | default: site.data.i18n.en.runtime.manage.increase | jsonify }},
    "decrease": {{ site.data.i18n[lang].runtime.manage.decrease | default: site.data.i18n.en.runtime.manage.decrease | jsonify }}
  }
}
