{% assign block = include.block %}
{% assign layout = block.layout | default: 'grid' %}
{% assign current_lang = include.lang | default: page.lang | default: site.i18n.default_lang | default: site.lang | default: "en" %}
{% unless layout == 'carousel' %}
  {% assign layout = 'grid' %}
{% endunless %}
<figure class="content-block content-block--gallery gallery--{{ layout }}">
  <div
    class="gallery__container"
    {% if layout == 'carousel' %}
      tabindex="0"
      aria-label="{% include t.html key='runtime.campaign.image_gallery' lang=current_lang %}"
    {% endif %}>
    {% for img in block.images %}
      <div class="gallery__item">
        <img 
          src="{{ img.src | escape }}"
          alt="{{ img.alt | default: '' | escape }}"
          loading="lazy">
        {% if img.caption %}
          <span class="gallery__item-caption">{{ img.caption | safe_rich_text }}</span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% if block.caption %}
    <figcaption class="content-block__caption">{{ block.caption | safe_rich_text }}</figcaption>
  {% endif %}
</figure>
